button:hover{
    background-color: yellow;
    height: 200px;
    width: 600px;
    text-align: center;
    border-radius: 100%;
    transform: rotate3d(100%);
    transform: rotate(360deg);
    transition-duration: 5s;
}

h1:hover{
    text-align: center;
    border-radius: 100%;
    transform: rotate3d(100%);
    transform: rotate(360deg);
    transition-duration: 5s;
}

img:hover{
    text-align: center;
    border-radius: 100%;
    transform: rotate3d(100%);
    transform: rotate(360deg);
    transition-duration: 10s;
}